h5
{
    color: white;
}

p
{
    color: #7d7d7d;
}

label
{
    color: #7d7d7d;
}

.mfooter
{
    background-color: #171717;
}

.view
{
    color: #ffc434;
}

.py-5
{
    background-color: #171717;
}
#newsletter1
{
    margin-bottom: 10px;
}
