<div class="p-4 p-md-5  text-white top-banner">
    <div class="container col-md-6 px-0">
      <h1 class="display-4 fst-italic">About</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
    </div>
  </div>
  <section class="about">
      <div id="img-div">
        <img src="../../assets/images/imac-1.png" alt="">
      </div>
      <div class="about-item">
        <div class="m-container value">
          <h3 id="value-title">About Us</h3>
          <p>
            Sectragon Limited was established in 2016 in Tema. The company offers a variety of choices and flexibility over the type of service<br>
            available for sending or receiving freights to and from any country in the world. <br>
            We provide complete and comprehensive supply chain management solutions tailored to 
            fit customers’ needs, from project planning, analysis to quality control. <br>
          </p>
          <hr>
        <div class="about-content">
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
        </div>
        </div>
      </div>

  </section>