<div class="p-4 p-md-5  text-white top-banner">
    <div class="container col-md-6 px-0">
      <h1 class="display-4 fst-italic">Service</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
    </div>
  </div>
  <section id="services">
    <div class="m-container serve">
      <div class="service">
        <h3>Freight Forwarding</h3>
        <hr>
        <img src="../../assets/images/ship-image.png">
        <p>Sectragon Limited moves more than 6000 TEU's of cargo for over 50 corporate 
          clients worldwide. Our C&F services spell ease, flexibility and professionalism. 
          A robust process and service model ensure continuous information exchange between 
          our international and local associates. We guarantee the best standards in customer 
          service with cost effectiveness and time bound deliveries. Our door-to-door 
          services for all C&F assignments add to overall customer satisfaction. Our long 
          term service contracts with many freight forwarding - shipping lines and freight 
          forwarding international airlines ensure confirm shipments on pre-confirmed dates 
          and at reduce cost.</p>
      </div>
      <div class="service">
        <h3>Logistics and
          Transportation</h3>
        <hr>
        <img src="../../assets/images/aeroplane-image.png">
        <p>The range of commodities carried by Sectragon Limited includes Tyre, Rubber Products, Automotive, Chemicals, Tea, Paper, Pharmaceutical, Communication Equipment, Yarn, Steel, Chrome Ore, Brown Goods, White Goods, Liquor, Lubricants, FMCG, and Power Plant Equipment. Transportation, like all industries is largely influenced by information and communication technologies with the focus being on knowledge of customer needs and value added services like End to End Logistics Solutions, Freight Forwarding, 
          Specialized Transportation Solutions, Custom Clearance, Custom Regulation, Project Cargo 
          Movement, ODC (Over Dimension Cargo) Movers, Supply Chain Management, Customized 
          Logistics Solutions etc.</p>
      </div>
      <div class="service">
        <h3>Supply Chain Management</h3>
        <hr>
        <img src="../../assets/images/cartapilar-image.png">
        <p>Our team of consultants makes sure that every step is fastidiously coordinated and managed. 
          With our wide unfold network, we tend to support your buying, merchandising & supply 
          method anywhere around the world. We analyze every step in your logistical chain, secure 
          each link and supply right issue, within the right place, at the proper time and at the 
          proper value to confirm sleek and economical operation. Drawing on our world operations 
          and native skilled data, our team will enhance routes to realize lower landed prices 
          with inevitable lead times that helps scale back safety stocks, while up inventory turns. </p>
      </div>
      <div class="service">
        <h3>Cargo Express</h3>
        <hr>
        <img src="../../assets/images/tain-image.png">
        <p>This is an innovative service and an effective logistics solution for the delivery of 
          small cargo. This service is useful for companies of various scales – from individual 
          traders to mass producers and importers. Sectragon Limited helps its Clients benefit 
          from all the advantages of fast delivery anywhere. Our employees analyze Clients’ needs and 
          cargo characteristics, formulate optimal routes, and calculate the price. We deliver the 
          cargo strictly according to the agreed terms regardless of the geography of transportation. 
          Close cooperation with reliable logistics companies and other Partners allow us to maintain a 
          flexible and transparent pricing 
          policy and excellent service quality levels.</p>
      </div>
    </div>
  </section>
  <section id="services">
    <div class="m-container serve">
      <div class="service">
        <h3>Warehousing</h3>
        <hr>
        <img src="../../assets/images/ship-image.png">
        <p>Sectragon Limited provides all services from the place of production till its final distribution. 
          We provide Warehousing Facility also. Warehousing and Distribution operations are carried out 
          independently and at times through outsourced operators by entities, depending on the local conditions 
          in each particular country. In Ghana, clients will enjoy a wide range of value added services which 
          includes but not limited to: stock management, bar-coding, co-packing, customization services, 
          pricing / labeling, procurement process, trans-loading & transportation, perpetual inventory 
          management, physical flow / goods flow analysis, post production services, and domestic transport networks.</p>
      </div>
      <div class="service">
        <h3>Custom Brokerage</h3>
        <hr>
        <img src="../../assets/images/aeroplane-image.png">
        <p>Sectragon Limited is a premier pundit in the discipline of custom clearance in Ghana. When 
          we are discussing about the custom clearance, the fundamental condition is, to have a 
          proficient knowledge about the government protocols. Customs procedures and processes 
          can be burdensome to comprehend for individuals, but, our staff endeavors to make the 
          custom clearances of your goods, as favorable as, much viable. The presence of our 
          company on global level, makes it easier for us, in acquiring the native expertise, which 
          dispense us the best guidance, and based on this information, you can take well advised 
          decisions. Resulting in minimize lead time, effective utilization of funds, and obtain better 
          tax benefits. We are relentlessly enhancing our knowledge and comprehension capabilities 
          regarding customs laws and invariably strive to aid you in the best viable manner. Our 
          team which administers custom clearances is having some of the finest Local Custom 
          Regulation Experts, who thoroughly understands the mechanism of custom clearances, 
          and make sure that whole paper work should be concluded in an appropriate fashion. And 
          we get all the custom clearances comfortably.</p>
      </div>
      <div class="service">
        <h3>Goods Transportation</h3>
        <hr>
        <img src="../../assets/images/Truck.png">
        <p>Sectragon Limited’s sole aim is to guarantee ultimate customer satisfaction. Sectragon 
          Limited’s transportation gives end-to-end delivery to high-value products. With the help 
          of our integrated network of service providers, we are in touch with top global and local 
          carriers across the globe. We have set a high benchmark for our service providers, securing 
          the best performance, security and advanced technology used in every shipment. Every event 
          that occurs in the course of a shipment is measured and analyzed by our professionals 
          in order to drive process improvements and give an out sanding service 
          experience to our customers.</p>
      </div>
    </div>
  </section>