<section id="showcase">
  <div class="m-container">
    <h3>We are the leading</h3>
    <h1>YOUR #1 FREIGHT AND <br> LOGISTICS FIRM</h1>
    <a href="#" class="btn btn-lg mColor">Get Rate Quote</a>
  </div>
</section>
<section id="newsletter">
  <div class="m-container">
    <div class="info-box">
      <i class="fa fa-clock-o fa-3x"></i>
      <div class="m-container">
        <h3>OPENING TIMES</h3>
        <p>Monday - Friday: 8:00 -16:00</p>
      </div>
    </div>
    <div class="info-box">
      <i class="fa fa-home fa-3x"></i>
      <div class="m-container">
        <h3>OUR LOCATION</h3>
        <p>777 Street Fourth Avenue</p>
      </div>
    </div>
    <div class="info-box">
      <i class="fa fa-phone fa-3x"></i>
      <div class="m-container">
        <h3>OUR PHONES</h3>
        <p>+22 090 1777 1999</p>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="m-container serve">
    <div class="service">
      <h3>Freight Forwarding</h3>
      <hr>
      <img src="../../assets/images/ship-image.png">
      <p>Sectragon Limited moves more than 6000 TEU's of cargo for over 50 corporate clients worldwide. 
        Our C&F services spell ease, flexibility and professionalism. A robust process and service model 
        ensure continuous information exchange between our international....</p>
    </div>
    <div class="service">
      <h3>Logistics and Transportation</h3>
      <hr>
      <img src="../../assets/images/aeroplane-image.png">
      <p>The range of commodities carried by Sectragon Limited includes Tyre, Rubber Products, 
        Automotive, Chemicals, Tea, Paper, Pharmaceutical, Communication Equipment, Yarn, Steel, 
        Chrome Ore, Brown Goods, White Goods, Liquor, Lubricants, FMCG, and Power Plant Equipment. 
        Transportation....</p>
        <a href="#" class="view vdetails nav-link p-0 " routerLink="services">View All</a>
    </div>
    <div class="service">
      <h3>Supply Chain Management</h3>
      <hr>
      <img src="../../assets/images/cartapilar-image.png">
      <p>Our team of consultants makes sure that every step is fastidiously coordinated and managed. 
        With our wide unfold network, we tend to support your buying, merchandising & supply method 
        anywhere around the world. We analyze....</p>
        <a href="#" class="view phone-vdetails nav-link p-0" routerLink="services"> View All</a>
    </div>
  </div>
</section>
<section class="values">
  <div class="m-container value">
    <h3 id="value-title">The Most Progressive Company</h3>
    <hr>
    <p>
      Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
      consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio
      sit amet nibh vulputate
    </p>
    <div class="value-content">
      <div class="value-box">
        <h3>Mission</h3>
        <p>
          Sectragon Limited is focused on delivering value to our customers by providing the most reliable freight and 
          logistics services and solutions through quality, innovation, highest efficiency and technology based on strong 
          local expertise combined with the most extensive national network. Our mission is to 
          increase value for stakeholders through profitable growth
        </p>
        <a href="#" class="btn btn-lg ">Read More..</a>
      </div>
      <div class="value-box">
        <h3>Vision</h3>
        <p>
          To be a leading provider of freight and logistics products and services of uncompromising superior 
          quality at the most economical value. To provide integrated solutions to strengthen 
          supply chain by managing transportation, inventory and distribution centers, 
          thereby assuring total and consistent customer satisfaction through a dynamic, trained, 
          and highly motivated team of qualified professionals. 
        </p>
        <a href="#" class="btn btn-lg">Read More..</a>
      </div>
    </div>
  </div>
</section>
<section class="track">
  <div class="m-container">
    <form id="searchform">
        <h3>Track & Trace</h3>
        <p>Already have a load ID, please insert it below</p>
        <input type="text">
        <button type="submit">TRACK IT</button>
    </form>
  </div>
</section>
<section class="whyus">
  <div class="m-container value">
    <h3 id="value-title">Why Choose Us</h3>
    <p>
      Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
      consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio
      sit amet nibh vulputate
    </p>
    <hr>
    <div class="whyus-content">
        <div class="reason">
          <div class="icon">
            <i class="fa fa-user fa-1x"></i>
          </div>
          <div class="m-container whyusitem">
            <h3>Customer Satisfication Tools</h3>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
          </div>
        </div>
        <div class="reason">
          <div class="icon">
            <i class="fa fa-file fa-1x"></i>
          </div>
          <div class="m-container whyusitem">
            <h3>Management and Reporting</h3>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
          </div>
        </div>
        <div class="reason">
          <div class="icon">
            <i class="fa fa-tags fa-1x"></i>
          </div>
          <div class="m-container whyusitem">
            <h3>Freight Payment Solutions</h3>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
          </div>
        </div>
    </div>
  </div>
  <div class="other">
    <div id="commitment">
      <h3 id="other-title">Company Commitment</h3>
      <hr>
    <p id="bold">
      We are commited to be the leading logistic solutions provider to our customer. We continually improving & implementing a quality management to achieve it
to achieve it
    </p>
    <img src="../../assets/images/signature.png" alt="signature">
    <p><strong>John Rukman</strong>, Vice President<br>
      Gocargo Inc        </p>
    </div>
  </div>
</section>
<section class="news">
  <div class="top">
    <h3 id="value-title">Company News</h3>
    <hr>
  </div>
  <div class="news-main">
    <div class="news-item">
      <img src="../../assets/images/news-image.jpg" alt="">
      <div class="reason">
        <div class="date">
          <p>5th August</p>
        </div>
        <div class="m-container whyusitem">
          <h3>Customer Satisfication Tools</h3>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
        </div>
      </div>
    </div>
    <div class="news-item">
      <img src="../../assets/images/news-image.jpg" alt="">
      <div class="reason">
        <div class="date">
          <p>5th August</p>
        </div>
        <div class="m-container whyusitem">
          <h3>Customer Satisfication Tools</h3>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
        </div>
      </div>
    </div>
    <div class="news-item">
      <img src="../../assets/images/news-image.jpg" alt="">
      <div class="reason">
        <div class="date">
          <p>5th August</p>
        </div>
        <div class="m-container whyusitem">
          <h3>Customer Satisfication Tools</h3>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
        </div>
      </div>
    </div>
</div>
</section>